.products--item{
		width: 100%;
		height: 100%;
		min-width: 300px;
		max-height: 200px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 1rem;
		overflow: hidden;
		background-color: #f5f4f4;
		border-radius: 5px;
		box-shadow: 1px 5px 15px rgb(194, 194, 194);

		&_image{
			width: 100%;
			min-height: 150px;
			overflow: hidden;
			background-color: $white;
			padding: 15px 0 5px;

			img{
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}

		&_info{
			width: 100%;
			height: 100%;
			padding: 20px 20px 15px 0;
			position: relative;
			h5{
				font-size: 0.85rem;
				color:  #e798a4;
				text-transform: uppercase;
				letter-spacing: 1px;
			}
			h6{
				margin: 0.6rem 0 1rem;
				font-size: 1.3rem;
				font-weight: bold;
				color: $black;
			}
			p, span{
				font-size: 0.9rem;
				color: rgb(156, 156, 156);
				letter-spacing: 0.5px;
			}
			.product-application{
				display: inline-block;
				margin-top: 0.8rem;
				font-size: 0.8rem;
				color: rgb(163, 163, 163);;
			}
			.product--item_cart{
				width: 100%;
				padding-right: 15px;
				position: absolute;
				bottom: 20px;
				display: flex;
				align-items: center;
				justify-content: space-between;

				span{
					font-size: 1.2rem;
					font-weight: bold;
				}
				button{
					display: inline-grid;
					grid-auto-flow: column;
					column-gap: 0.35rem;
					align-items: center;
					padding: 0.8rem 0.5rem;
					line-height: 1;
					background-color: $pink;
					font-size: 1.1rem;
					border-radius: 4px;
					color: $white;
					transition: all 0.3s ease-in-out;

					&:hover{
						background-color: darken($pink, 5%)
					}
					span{
						color: $white;
						font-size: 1.1rem;
					}
				}
			}
		}
}